[user]
        name = Garrett Davidson
        email = gdavids@purdue.edu
[core]
        editor = emacs
        excludesfile = $HOME/dotfiles/.gitignore

[merge]
        tool = ediff
[mergetool "ediff"]
        cmd = emacs --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"